.location{
    display: flex;

    .locationcontainer{
        flex: 6;

        .map{
            padding: 20px;
            align-items: center;
            justify-content: center;

        }
    }
}