.chart{
    flex: 3.9;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(88,109,240,1);
-moz-box-shadow: 5px 5px 10px 0px rgba(88,109,240,1);
box-shadow: 5px 5px 10px 0px rgba(88,109,240,1);
border-radius: 6px;
    
    padding: 5px 8px;
    padding-bottom: 10px;
    height: 280px;

}