.Navbar{
    background-color: aliceblue;
    height: 50px;
    border-bottom: 1px solid rgba(192, 140, 230, 0.845);
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #555;
    font-weight: 550;
    
    
    

    .wrapper{
        width: 100%;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .Welcome{
    
            padding-left: 5px;
            padding-top: 5px;
            color: blueviolet;
            font-weight: bold;
            font-size: 1.2em;
        }

        .search{
            display: flex;
            align-items: center;
            border: .5px solid gray;
            padding: 3px;
            border-radius: 3.5px;
            .search::placeholder{
                font-weight: 450;
                color: gray;
            }

            &:hover{
                color: rgb(94, 55, 236);
                
            }

            input{
                border: none;
                outline: none;
                background: transparent;
                
                &::placeholder{
                    font-size: 14px;
                }
                &:hover{
                    color: rgb(94, 55, 236);
                }
               
            }
        }
        .items{
            display: flex;
            align-items: center;
            position: relative;


            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
                cursor: pointer;
                position: relative;

                .icon{
                    font-size: 1.5em;
                }

                .avatar{
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    cursor: pointer;
                    object-fit: cover;
                }

                .counter{
                    height: 15px;
                    width: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    align-items: center;
                    display: flex;
                    
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -6px;
                    right: -6px;
                }
            }
        }
    }
}